body {
    margin: 1em;
    font-family: sans-serif;
    font-weight: lighter;
    color: #181818;
    line-height: 1.2;

}

h1, h2, h3, h4, h5, h6 {
    /*font-family: sans-serif;*/
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p, ul, ol, li, a {
    margin: 0;
    padding: 0;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: #3e3e3e;
}

a:hover {
    text-decoration: underline;
}

a.silent {
    text-decoration: inherit;
    font-weight: inherit;
    color: inherit;
}

p {
    color: #3e3e3e;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-top: 1em;
}


svg {
    height: 100%;
    width: 100%;
}

code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    max-width: 100%;
    overflow: auto;
    padding: 0.5em;
    display: block;
    word-wrap: break-word;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}


.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

#header-info {
    border-style: none none none solid;
    padding-left: 0.5em;
    margin-left: 0.5em;
    border-color: gray;
    border-width: thin;
    vertical-align: middle;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

.square {

}

.axis text {
    font-size: 15px;
    fill: black;
}

.line {
    fill: none;
    stroke-width: 3px;
}

#follow_list {
    color: lightgray;
}